body {
  font-family: 'Ubuntu', sans-serif !important;
  /* font-family: 'Open Sans', sans-serif !important; */
}
p {
  color: white !important;
  letter-spacing: 3px;
}
h3 {
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 5vh !important;
}
#about > .container > .col-xs-12 > h3 {
  color: #00FFFF !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 5vh !important;
}
h4 {
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h5 {
  color: #8d93b7 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.experience-box-body > h5 {
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 3px;
}
ul {
  color: #8d93b7 !important;
}
ul > li {
  margin: 0 0 5px 5px !important;
}
.experience-box-body > ul {
  color: #001a33 !important;
}
.anchor-pts > .col-xs-4 {
  text-align: right;
}
.anchor-pts {
  margin-top: 4vh;
}
.nav-anchor, .nav-anchor:active, .nav-anchor:visited, .nav-anchor:focus {
  color: #bcbcbc;
  margin-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none !important;
}
.nav-anchor:hover {
  color: white;
}
.experience-box {
  border-radius: 15px;
  border: 2px solid #001a33;
  margin-top: 5vh;
}
.experience-box-body {
  padding: 3px;
}
.about-me-box {
  border-radius: 15px;
  border: 2px solid #00FFFF;
  margin-top: 5vh;
}
.about-me-box-body {
  padding: 3px;
}
.decorative-line {
  margin-top: 0;
  margin-bottom: 10px;
  min-width: 100% !important;
  height: 2px !important;
  background: #00FFFF;
}
.experience-box-body > .decorative-line{
  margin-top: 0;
  margin-bottom: 10px;
  min-width: 100% !important;
  height: 2px !important;
  background: #001a33;
}
.img-round {
  border-radius: 50%;
}
#typed-strings {
  font-family: 'Passion One', cursive !important;
  letter-spacing: 2px;
  font-size: 60px;
  color: white;
}
#navbar {
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  z-index: 1;
}
#header {
  padding-top: 45vh;
  background: linear-gradient(#314755,#26a0da);
  height: 100vh;
  text-align: center;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#about {
  height: 100vh;
  background: #001a33;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#experience {
  height: 100vh;
  background: #8d93b7;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
